.NotFound {
    justify-content: center;
    align-items: center;
    margin: 30vh;
    color: rgb(58, 55, 55);
}

.return {
    color: red
}

.return:hover {
    color: white;
    cursor: pointer;
}

.error {
    height: 200px;
    font-size: 20rem;
}