footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

ul {
    color: red;
}

.developed {
    text-align: center;
    width: 375px;
}

.know-more {
    text-align: center;
    width: 375px;
}

.contacts {
    text-align: center;
    width: 375px;
}

.github {
    color: whitesmoke;
}

.github:hover {
    cursor: pointer;
}