.movie-card {
    width: 280px;
    height: 490px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    background: #141414;
    border-radius: 12px;
    color: red;
}

.movie-card img {
    margin-top: 20px;
    width: 70%;
    height: 180px;
}

.movie-card-body {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 8px;
}

.movie-card:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 0 70px rgb(56, 55, 55);
}

.favoritado {
    background-color: grey;
    color: rgb(92, 92, 92);
    height: 30px;
    border-radius: 12px;
    width: 100%;
}

.desfavoritado {
    background-color: yellow;
    color: rgb(92, 92, 92);
    height: 30px;
    border-radius: 12px;
    width: 100%;
}

button:hover {
    cursor: pointer;
}